{% extends "AppBundle::layout.html.twig" %}
{% block content_wrapper %}
<section class="vbox">
    <header class="header bg-white b-b">
        <p>{{ "Édition de l'auteur : "~ auteur.nom }}</p>
    </header>
    <section class="wrapper">
        {% block messages %}
            {{ parent() }}
        {% endblock %}  
        <div class="row">
            <div class="col-lg-8">
                <section class="panel">
                    <form novalidate action="{{ path('minimal_auteur_edit', { 'id': auteur.id}) }}" method="post" class="form-horizontal">
                        <header class="panel-heading">Informations</header>
                        <div class="panel-body">
                            {% include 'AppBundle:Default:_form.html.twig' with { 'form': form }  %}
                        </div>
                        <footer class="panel-footer">
                            {{ form_widget(form.save, { 'attr': { 'class': 'btn btn-sm btn-success' } } ) }}
                            {{ form(form._token) }}
                        </footer>
                    </form>
                </section>
            </div>
        </div>
    </section>
</section>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% include 'AppBundle:Default:_form.js.twig' %}
{% endblock %}