<div class="pagination-info">
{% set pager = datagrid.pager %}
{% if pager.results|length < datagrid.results|length %}
{{ pager.results|length }} {{ "enregistrements sur " }} {{ datagrid.results|length }} {{ "resultats" }}
{% else %}
{{ pager.results|length }} {{ "enregistrements" }}
{% endif %}
</div>